<h2>Votar por el juego del año</h2>
<hr>
<div class="row">
    <div class="col">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let juego of juegos">
              <div class="card h-100 bg-dark">
                <img [src]="juego.url" class="card-img-top" [alt]="juego.name">
                <div class="card-body">
                  <h5 class="card-title">{{juego.name}}</h5>
                  <p class="card-text">Click aquí para votar por este juego</p>
                </div>
                <div class="card-footer d-grid gap-2">
                  <button class="btn btn-block btn-outline-primary">
                      Votar
                  </button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>